.svg-shaped-div {
    position: relative;
    width: 100%;
    margin-top: 20px;
    height: 80vh;
    /* Full viewport height */
    background: #f1f4f9;
    clip-path: url(#heroClip);
    -webkit-clip-path: url(#heroClip);
    overflow: hidden;
}