.svg-shaped-div {
    position: relative;
    width: 100%;
    height: 100vh;
    /* Full viewport height */
    background: #e7e8e2;
    clip-path: url(#heroClip);
    -webkit-clip-path: url(#heroClip);
    overflow: hidden;
}