.card {
    
    min-width: 320px;
    margin: 20px;
    border-radius: 20px;
    padding: 8px;
    overflow: hidden;
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .card .top-section {
    height: 150px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    position: relative;
    border-bottom-right-radius: 42px;
  }

  .border2 {
    position: absolute;
    bottom: -1px;
    right: 0; /* Ensure it's in the bottom-right */
    border-top-left-radius: 10px;
    /* border-top-right-radius: 25px; Adding curve at top-right */
    height: 30px;
    width: 80px;
    background: #ffffff;
    transform: skew(-40deg); /* Match the top skew but mirrored */
    box-shadow: 10px 10px 0 0 #ffffff;
}

.border2::before {
    content: "";
    position: absolute;
    bottom: 100%; /* Moves it above the border2 div */
    right: -10px; /* Slightly shifts it right for alignment */
    width: 20px;
    height: 20px;
    background: #ffffff;
    border-radius: -85%;
    box-shadow: -5px 5px 0 2px #ffffff; /* Flipped shadow for an upward effect */
}
  
  .card .top-section::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    border-bottom-right-radius: 10px;
    background: rgb(255, 255, 255);
    height: 50px;
    width: 64px;
    border-top-left-radius: -22px;
    box-shadow: -5px -5px 0 2px #ffffff;
  }

  .card .top-section .icons .logo .top-section {
    height: 100%;
  }
  
  